@use '../colors';

.scope-group {
	margin: 12px;
}

.scope-group-item {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.scope-group-input {
	margin: 4px 8px;
}

.scope-group-label {
	flex-grow: 9;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.scope-group-title {
	width: 25%;
}

.scope-group-description {
	width: 75%;
}


@mixin createTheme($scheme, $themeTable) {
	@media (prefers-color-scheme: $scheme) {
		.scope-group {
			h3 {
				color: map-get($themeTable, $scheme, "secondary2");
			}
			h3:hover {
				color: darken(map-get($themeTable, $scheme, "secondary2"), 20%);
			}
		}

		.scope-group-item {
			input {
				accent-color: map-get($themeTable, $scheme, "tertiary1");
			}
			input:hover {
				accent-color: darken(map-get($themeTable, $scheme, "tertiary1"), 20%);
			}
		}
	}
}

// create all of the themes
@include createTheme("light", colors.$themes);
@include createTheme("dark",  colors.$themes);