$grey1: #131018;
$grey2: #595959;
$grey3: #807d85;
$grey4: #d1d0d3;

$purple1: #321e4d;
$purple2: #45325e;
$purple3: #7D6a95;
$purple4: #a89ab9;

$yellow1: #554d00;
$yellow2: #807615;
$yellow3: #aaa039;
$yellow4: #d4cb6a;