/* THIS IS A GENERATED FILE. ANY CHANGES TO THIS FILE WILL BE OVERWRITTEN */
@media (prefers-color-scheme: light) {
  body {
    background-color: #d1d0d3;
    color: #131018;
  }
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: #131018;
    color: #45325e;
  }
}

