/* THIS IS A GENERATED FILE. ANY CHANGES TO THIS FILE WILL BE OVERWRITTEN */
p {
  text-align: center;
}

@media (prefers-color-scheme: light) {
  h1 {
    color: #595959;
    text-align: center;
  }
}
@media (prefers-color-scheme: dark) {
  h1 {
    color: #7D6a95;
    text-align: center;
  }
}

