@use '../colors';

p {
	text-align: center;
}

@mixin createTheme($scheme, $themeTable) {
	@media (prefers-color-scheme: $scheme) {
		h1 {
			color: map-get($themeTable, $scheme, "secondary2");
			text-align: center;
		}
	}
}

// create all of the themes
@include createTheme("light", colors.$themes);
@include createTheme("dark",  colors.$themes);